<link rel="stylesheet" href="/css/style.css">
<div class="container">
  <h1>Открытые заявки</h1>
  <ul id="requestsList">
    {{#each requests}}
      <li class="card">
        <h3><span class="text-truncate">{{this.details_text}}</span></h3>
        
        {{#if this.request_files.length}}
          <div class="photo-gallery-thumbnail">
            {{#each this.request_files}}
              {{#if this.directus_files.photo_url}}
                <img src="{{this.directus_files.photo_url}}" alt="Фото заявки">
              {{/if}}
            {{/each}}
          </div>
        {{/if}}

        <p>Статус: <span class="status-{{toLowerCase this.status}}">{{this.status}}</span></p>
        
        <form action="/webapp/send-response-prompt" method="post">
          <input type="hidden" name="requestId" value="{{this.id}}">
          <input type="hidden" name="supplierTelegramId" value="{{../userId}}">
          <button type="submit" class="btn">Откликнуться</button>
        </form>
      </li>
    {{/each}}
  </ul>
</div>
